.MainTileContainer{
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.MainTileContainer .statusDisplay{
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    width: 400px;
    border-radius: 5px;
    /* background-color: rgba(153, 187, 143, 0.306); */
}

.TileContainer {
  width: 90%;
  max-width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  gap: 10px;
  color: white;
}
.TileContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border-radius: 5px;
  background-color: rgb(107, 119, 159);
  background-color: rgb(79, 79, 79);
  font-weight: bold;
  font-size: larger;
  user-select: none;
  border: 1px solid gray;
  /* cursor: pointer; */
}
.TileContainer div.Done {
    background-color: rgb(48, 48, 48);
}
.TileContainer div.Empty {
  background-color: transparent;
  /* background-image: url('../../../public/logo.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center; */
}
