.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
}